@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Berkshire+Swash);

body {
  text-align: center;
  font-size: 30px;
  font-size: 200%;
  padding: 2em;
  background: linear-gradient(#000, #fff) no-repeat;
  margin-bottom: .5em;
  color: #b81313;
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: yellow;
  font-size: 50px;
}

h2 {
  color: green;
  font-family: 'Josefin Sans', cursive;
  font-size: 40px;
}
