@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

body {
  text-align: center;
  font-size: 40px;
  font-size: 200%;
  padding: 2em;
  background: linear-gradient(#c9e1e0, #fff) no-repeat;
  margin-bottom: .5em;
  color: #b81313;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: white;
  font-size: 40px;
}
