@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash)

body {
  background-color: black;
  text-align: center;
  color: #ff4500;
  font-size: 40px;
  font-family: 'Berkshire Swash', cursive;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: white;
  font-size: 40px;
}
